<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/cosmo/bootstrap.min.css"/>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>

<div class="row">
    <div class="col-2">
        <a class="btn btn-dark" href="http://localhost:8080/admin/main" role="button" style="margin-top: 10px; margin-left: 5px;">Назад</a>
    </div>
    <div class="col-8 text-center">
        <h2>Список всех  вопросов</h2>
    </div>
</div>




    <tr>
        <div align="center">
<!--            <h3><a th:href="@{'new/'}">Add new +</a></h3>-->
            <h3><a th:href="@{'/admin/listQuestions/' + ${quiz.id} + '/new'}">Добавить вопрос + </a></h3>
        </div>
    </tr>
    <tr>
        <div class="col-xl-12" align="center">
            <div class="panel-body" align="center">
                <table class="table">
                    <thead class="thead-dark">
                    <tr>
                        <th>№</th>
                        <th>Вопросы</th>
                        <th>Вариант А</th>
                        <th>Вариант Б</th>
                        <th>Вариант В</th>
                        <th>Прав.ответ</th>
                        <th>Кол.выбрать</th>
                        <th>Изменить</th>
                        <th>Удалить</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="question : ${listQuestion}">
                        <td th:text="${question.quesId}">id</td>
                        <td th:text="${question.title}">Вопрос</td>
                        <td th:text="${question.optionA}">Вариант А</td>
                        <td th:text="${question.optionB}">Вариант Б</td>
                        <td th:text="${question.optionC}">Вариант В</td>
                        <td th:text="${question.ans}">Ответ</td>
                        <td th:text="${question.chose}">Выбор</td>
                        <td>
                            <a th:href="@{'/admin/listQuestions/edit/' + ${question.quesId}}">Edit</a>
                        </td>
                        <td>
                            <a th:href="@{'/admin/listQuestions/delete/' + ${question.quesId}}">Delete</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </tr>

    </tbody>
    </table>
    <div>
    </div>
</div>
</body>
</html>