<div th:fragment="header" xmlns:sec="http://www.w3.org/1999/xhtml">
    <header data-bs-theme="black">
        <div class="navbar navbar-dark bg-black shadow-sm"
             style="font-family: 'Roboto'; background-color: #FFFFFF !important;">
            <div class="container">
                <a href="#" class="navbar-brand d-flex align-items-center">
                    <img src="/images/atom-solid.svg" alt="" style="width: 50px; height: 50px; font-weight: normal">
                    <strong style="font-size: 35px; margin-left: 10px; color: black;">Free JRT</strong>
                </a>
                <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto" style="margin-right: 120px; font-size: 20px;">
                    <a class="me-5 py-2 link-body-emphasis text-decoration-none" style="color: #0A092D;"
                       href="http://localhost:8080/test">Тесты</a>
                    <a class="me-5 py-2 link-body-emphasis text-decoration-none" style="color: #0A092D;"
                       href="http://localhost:8080/aboutUs">О нас</a>
                    <a class="me-4 py-2 link-body-emphasis text-decoration-none" style="color: #0A092D;"
                       href="http://localhost:8080/resource">Ресурсы</a>
                </nav>
                <span class="text-dark" sec:authentication="principal.username">User</span>

                <span class="text-dark" sec:authorize="isAuthenticated()" style="margin-left: 20px;">
                  <a class="text-light" th:href="@{/logout}" style="color: black !important;">Logout</a>
                </span>

                <a href="http://localhost:8080/users/profile">
                    <svg xmlns="http://www.w3.org/2000/svg" color="black" width="25" height="25"
                         style="margin-left: 50px" fill="currentColor" class="bi bi-house" viewBox="0 0 16 16">
                        <path
                                d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L2 8.207V13.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5V8.207l.646.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.707 1.5ZM13 7.207V13.5a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5-V7.207l5-5 5 5Z"/>
                    </svg>
                </a>
            </div>
        </div>
    </header>
</div>
