<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" type="text/css" media="screen" href="/css/mainStudent.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css">
    <script src="https://kit.fontawesome.com/a81368914c.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.min.js"></script>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" th:href="@{/css/index.css}">
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <title>About Us</title>
</head>
<body>

<!--Шапка сайта-->
<header class="headder" th:insert="users/blocks/header :: header"></header>

<!--Карусель-->
<div id="myCarousel" class="carousel slide" data-bs-ride="myCarousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner" style="font-family: 'Roboto'">
        <div class="carousel-item active" data-bs-interval="10000">
            <img src="/images/carousel_1.png" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block" style="font-size: 25px">
                <h1 style="font-weight: bold">Free JRT</h1>
                <p>Результаты ОРТ позволяют определить уровень знаний и подготовленности выпускника к дальнейшему
                    обучению и будущей профессиональной деятельности.</p>
            </div>
        </div>
        <div class="carousel-item" data-bs-interval="2000">
            <img src="/images/carousel_2.png" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block" style="font-size: 25px">
                <h1 style="font-weight: bold">Free JRT</h1>
                <p>Успешное прохождение ОРТ может дать возможность поступить в престижные вузы и получить качественное
                    образование.</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="/images/carousel_3.png" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block" style="font-size: 25px">
                <h1 style="font-weight: bold">Free JRT</h1>
                <p>Важно помнить, что ОРТ не является конечной целью образования, а лишь одним из этапов на пути к
                    профессиональному росту и успеху.</p>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

<!--Текстовое поле-->
<div class="container  py-5" style="font-family: 'Roboto';">
    <div class="row text-center">
        <div class="col-md-12 py-5">
            <h1>О нас</h1>
            <p><br>Наша веб-приложения "Free JRT" - это команда специалистов по онлайн тестированию с многолетним
                опытом работы. Мы специализируемся на предоставлении услуг по онлайн тестированию для компаний и
                организаций в различных отраслях.</p>
        </div>
    </div>
    <div class="row py-5">
        <div class="col-md-4">
            <h2>Наша миссия</h2>
            <p><br>Мы предлагаем широкий спектр услуг, включая создание и разработку тестовых заданий, проведение онлайн
                тестирования нашей уникальной платформе, анализ результатов тестирования и предоставление детальной
                отчетности.</p>
        </div>
        <div class="col-md-4">
            <h2>Наша команда</h2>
            <p><br>Команда "Free JRT" использует передовые технологии и методики для обеспечения высокого
                качества тестирования.</p>
        </div>
        <div class="col-md-4">
            <h2>Наш опыт</h2>
            <p><br>Наша платформа для онлайн тестирования обеспечивает быстрое и эффективное проведение тестирования, а
                также максимальную защиту данных. </p>
        </div>
    </div>
</div>

<!--Про лидеров-->
<div class="container" style="font-family: 'Roboto'">
    <div class="text-center py-5">
        <h1>Наша команда</h1>
    </div>
    <div class="text-center py-5">
        <div class="row">

            <!--Отзыв 1-->
            <div class="col-lg-3">
                <img src="/images/otzyv_1.png" alt="" width="140" height="140">
                <h2 class="fw-normal py-3">Mirlanbek</h2>
                <p>Back-end developer</p>
            </div><!-- /.col-lg-4 -->

            <!--Отзыв 2-->
            <div class="col-lg-3">
                <img src="/images/otzyv_2.png" alt="" width="140" height="140">
                <h2 class="fw-normal py-3">Kelsinbek</h2>
                <p>Team Leader</p>
            </div><!-- /.col-lg-4 -->

            <!--Отзыв 3-->
            <div class="col-lg-3">
                <img src="/images/otzyv_1.png" alt="" width="140" height="140">
                <h2 class="fw-normal py-3">Ismadiiar</h2>
                <p>UX/UI-designer</p>
            </div><!-- /.col-lg-4 -->

            <!--Отзыв 4-->
            <div class="col-lg-3">
                <img src="/images/otzyv_2.png" alt="" width="140" height="140">
                <h2 class="fw-normal py-3">Umar</h2>
                <p>Front-end developer</p>
            </div><!-- /.col-lg-4 -->
        </div>
    </div>
</div>

<!--Предпоследняя шапка-->
<!--Нижняя шапка footer-->
<div th:insert="users/blocks/footer :: footer"></div>
<!-- Подключение Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js"></script>
</body>
</html>
</body>
</html>