.bg-dar {
    background-color: #0A092D;
}

.bg-color {
    background-color: #f0f0f0;
    color: black;
    border-top: 5px solid black;
    border-right: 5px solid black;
}

.headder {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
}

.headder {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
}



